<ul class="nav-list">
  <li><a href="/" title="Home page" class="active">Home</a></li>
  <li><a href="/inv/type/Sport" title="View Sport vehicles">Sport</a></li>
  <li><a href="/inv/type/Pickup" title="View Pickup vehicles">Pickup</a></li>
  <li><a href="/inv/type/SUV" title="View SUV vehicles">SUV</a></li>
  <li><a href="/inv/type/Sedan" title="View Sedan vehicles">Sedan</a></li>
</ul>
